subscription_id      = "your-subscription-id"
resource_group_name  = "terraform-state-rg"
location             = "Spain Central"
storage_account_name = "tfstate10494"
container_name       = "tfstate"
